@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: 768px) {
    @content;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.review__container {
  max-width: 1000px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 60px auto;

  @include sp {
    grid-template-columns: 1fr;
  }
}

.review {
  @include sp {
    border-bottom: 1px solid gray;
  }

  @include pc {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.review__link {
  display: block;
  padding: 15px;
}

.review__text {
  margin: 15px;
}

.review__reviewer {
  text-align: right;
}
